.TransactionHistory {
    width: 500px;
    border-collapse: collapse;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 12px -5px;
}


th,
td {
    border: 1px solid gray;
    padding: 8px;
}

th {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

td {
    padding-left: 50px;
}