.profile{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    margin: 10px auto;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.75) 1px 1px 12px -5px;
}
.stats{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: aliceblue;
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    width: 150px;
    padding: 20px;
    border: 1px solid silver;
}

.quantity{
    display: block;
}

p {
    color: grey;
}
.avatar{
    border-radius: 50%;
    width: 80px;
    height: auto;
    margin-right: auto;
}
.container{
   text-align: center;

}
img{
    margin: 15px auto;
    border-radius: 50%;
    width: 150px;
    background-color: teal;
    transition: all 100ms ease-in-out 0s;
    transform: scale(1);
}
.name{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    color: black;
}
.tag, .location{
    margin-bottom: 10px;
}
span{
    margin: 0;
    font-weight: 600;
    font-size: 18px;
}